node_modules/

dist/
build/

Thumbs.db

*.log
npm-debug.log*

# Ruby
.bundle/

# Jekyll
_site/
.sass-cache/
.jekyll-metadata

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# VSCodeの環境設定
.vscode/
.idea/
