---
layout: default
title: ホーム
description: るくみるのホームページへようこそ。ここでは日々の思考や学習の記録を公開しています。
og_image: /assets/images/home-ogp.jpg # このページ固有のOGP画像
---

<h2>サイトについて</h2>

<p>
  このサイトでは、私の勉強ノートや日常の様子を気ままに投稿していきます。
  公開している勉強ノートは、自分のために作成した文面をそのまま投稿しているので、見づらかったり内容に不備があったりするかもしれません。参考にされる場合はご自身の判断でよろしくお願いします。
</p>

<h2>最近の投稿</h2>

<ul class="blog-posts-list">
  {% assign recent_posts = site.posts | limit: 6 %}
  {% for post in recent_posts %}
    <li>
      <a href="{{ post.url | relative_url }}">
        <h3>{{ post.title }}</h3>

        <div class="post-info">
          <p class="post-tags">
            {% if post.tags.size > 0 %}
              {% for tag in post.tags %}
                <span>#{{ tag }}</span>
              {% endfor %}
            {% endif %}
          </p>
          <p class="post-meta">{{ post.date | date: "%Y年%m月%d日" }}</p>
        </div>

      </a>
    </li>
  {% endfor %}
</ul>

<p style="text-align: right;">
  <a href="{{ '/blog/' | relative_url }}">もっと見る &gt;&gt;</a>
</p>
