<header>
  <div class="header-inner">
    <a href="{{ '/' | relative_url }}" class="site-title">
      <img src="{{ '/favicon.ico' | relative_url }}" alt="favicon" style="width: 40px; height: 40px; vertical-align: middle; margin-right: 8px;">
    </a>
    <nav class="main-nav">
      <ul>
        <li><a href="{{ '/' | relative_url }}">Top</a></li>
        <li>|</li> <li><a href="{{ '/about/' | relative_url }}">Profile</a></li>
        <li>|</li> <li><a href="{{ '/blog/' | relative_url }}">Blog</a></li>
      </ul>
    </nav>
  </div>
</header>
