// ==========================================================================
// Variables
// ==========================================================================

// ----- Colors -----

// Text
$text-color-base: #333;
$text-color-light: #666;

// Background
$bg-color-header: white;
$bg-color-table-header: #f9f9f9;

// Border
$border-color-light-gray: #ccc;
$border-color-thin: #eee;
$border-color-medium: #e0e0e0;

// Accent
$color-accent: #ff69b4;


// ----- Layout -----
$content-max-width: 900px;
$content-padding-lr: 0em;
