---
layout: default
title: ブログ
permalink: /blog/
---

<h2>カテゴリ別記事一覧</h2>
{% for item in site.data.categories %}
  {% assign category_slug = item.slug %}
  {% assign category_display_name = item.name %}
  {% assign posts_in_category = site.categories[category_slug] %}

  <h3>
      {{ category_display_name }}
  </h3>

  <ul class="blog-posts-list">
    {% assign limited_posts = posts_in_category | slice: 0, 5 %}
    {% for post in limited_posts %}
      <li>
        <a href="{{ post.url | relative_url }}">
          <h3>{{ post.title }}</h3>
          <div class="post-info">
              <p class="post-tags">
                {% if post.tags.size > 0 %}
                  {% for tag in post.tags %}
                    <span>#{{ tag }}</span>
                  {% endfor %}
                {% endif %}
              </p>
              <p class="post-meta">{{ post.date | date: "%Y年%m月%d日" }}</p>
            </div>
        </a>
      </li>
    {% endfor %}
  </ul>
  <p style="text-align: right; margin-bottom: 2em;">
    <a href="{{ '/blog/' | append: category_slug | relative_url }}"> もっと見る &gt;&gt;</a>
  </p>
{% endfor %}
